<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About This Section</h2>
      <p>
        If you land on this page, that means you logged in successfully. Now you
        can add comments, and view comments from others.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
